@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.discord-embed {
    background-color: #2f3136;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;

    padding-left: 15px;
    border-radius: 5px;
    border-left: #f40049 solid 4px;
    width: 500px;
    padding-right: 30px;
    padding-top: 4px;
    padding-bottom: 10px;
}



.author {
    color: #a5a5a5;
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 0px;

}



.embed-title{
    color:#fdfbfb;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: -12px;
    margin-top: 6px;
}



.embed-link {
    color: rgb(0, 183, 255);
    font-weight: 400;
    font-size: 19px;

}

.embed-image {
    border-radius: 6px;
    
}




.embed-image:hover.image-hover-overlay {
    opacity: 1;
}

.embed-author {
    display: flex;
    align-items: center;
    margin-bottom: -6px;
}


.embed-author img {
    border-radius: 100%;
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.embed-author p {
    color: #a5a5a5;
    font-size: 12px;
    font-weight: 100;
    
}




.feild {
    margin-bottom: -20px;
}
.feild h4 {
    color: #ebebeb;
    margin-bottom: -12px;
    
    font-weight: 600;
}

.feild p {
    color: #c4c4c4;
    font-size: 14px;
}

.fields {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 180px 180px 180px;
    grid-gap: 4px;
    padding-bottom: 20px;
}


.discord-embed.color-blue {
    border-left: #00d8f4 solid 4px;
}

.discord-embed.color-w {
    border-left: #fafafa solid 4px;
}



.discord-embed.color-green {
    border-left: #4df400 solid 4px;
}


.discord-embed.color-pink {
    border-left: #d800f4 solid 4px;
}


.discord-embed.color-yellow {
    border-left: #f4f000 solid 4px;
}